<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<package name="com.yinen.java.bank.pojo"/>
	</typeAliases>
	<environments default="default">
		<environment id="default">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/javaweb"/>
				<property name="username" value="root"/>
				<property name="password" value="cyr19971106"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/yinen/java/bank/mapper/AccountMapper.xml"/>
		<mapper resource="com/yinen/java/bank/mapper/LogMapper.xml"/>
	</mappers>
</configuration>